.error-message {
  margin:0 auto;
  width: 280px;
  padding-bottom: 10px;
  color: red;
  list-style: none;
  text-align: center;
}

.user-error-title {
  padding-bottom: 7px;
  color: red;
}

.user-errors {
  padding-bottom: 5px;
  color: red;
}
