<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <% if message = "メインを選択してください"%>
        <li class='error-message'>料理が選択されていません</li>
        <% else %>
        <li class='error-message'><%= message %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>